.content-description {
    position: relative;
    padding: 140px 0 150px;
    background: #eeeeee;
}

.info {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 60%;
}

.description {
    font-weight: bold;
}

.description-title {
    margin-top: 20px;
    width: 350px;
    font-size: 40px;
    line-height: 45px;
    color: #000;
}

.description-text {
    width: 446px;
    color: #999999;
}

.season-tickets {
    margin: 100px auto 0;
    padding: 0 15px;
    width: 100%;
    max-width: 1111px;
}