.container-box {
    height: 988px;
    background-color: #000;
}

.container {
    background: url(../img/background_header.png) center 90px no-repeat;
    background-size: cover;
    height: 100%;
}

.container-section {
    position: absolute;
    top: 300px;
    left: 19%;
    padding: 110px 15px 0 15px;
    width: 570px;
}

.container-title {
    color: #fff;
    font-size: 55px;
    line-height: 65px;
}

.container-text {
    margin: 20px 0 50px 0;
    color: #f9f9fb;
    font-size: 18px;
}